*{
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    list-style: none;
    

}
body{
    background-color: #c9e4d2;
    margin: 0 0;
    
    }

.nav-link {
    color: black;
    font-size: 1.75rem;
    padding: 0 25%;
    font-weight: bolder;
}
.nav-link:hover{
    color: #56c579;
}
.navbar-collapse{
    justify-content: flex-end;
}
.container-fluid{
    margin: 0 10%;
}
#desarrollo{
    background-image: url(../Imagenes/fondo\ inicio.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6%;
    height: 100%;
    width: auto;
}
  
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 5%;
        left: 15%;
        padding-top:10%;
        padding-bottom: 10%;
        color: #fff;
        text-align: center;
 }
 .carousel-caption h1{
    color: #56c579;
    font-size: 2.5rem;
 }
 .carousel-caption p{
    font-size: 24px;
    color: white;
    font-weight: bolder;
    
 }
 .button input{
    padding: 5px 15px;
    background-color: transparent;
    color: white;
    border-color: #c9e4d2;
    border-radius: 15px;
    margin-top: 5%;
}
 
.texto{
    background-color: white;
    
}
#servicio{
    color: black;
    text-align: center;
    margin: 0% 15%;
    background-color: white;
    padding: 5%;
    font-size: 30px;

}
footer {    
    font-size: 24px;
    margin: 2% 2%;

}

.contenedor-titulos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.contenedor-titulos h3{
display: flex;
justify-content: space-evenly;
font-weight: bolder;

}
.ubi, .contacto , .redes{
    width: 33%;
}
 .box-1{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    }
.box-2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15%;
    text-align: center;
}
.box-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    text-decoration: none;
   
}
.box-3 a{
    text-decoration: none;
}
.box-3 a:visited, .box-3 a:active, .box-3 a:link  {
    color: black;
    
}

    .bobinas{
        background-image: url(../Imagenes/bobinas-de-acero.jpg);
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 16%;
        height: 100%;
        width: auto;

        }
.lema{
    background-color: white;
    padding: 3% 30%;
    font-size: 36px;
    text-align: center;
    color: #56c579;
}
.historia{
    padding: 3% 20%;
    font-size: 36px;
    text-align: center;
    color: black;
    
}
.nuestro h1{
    font-weight: bold;
    color: #56c579;
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
}
.nuestro h2{
    font-weight: bold;
    text-decoration: none;
    color: #56c579;
    font-size: 30px;
    margin: 5% 35%;
    padding:1% ;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    text-align: center;  
}
.nuestro h2 a{
    text-decoration: none;
    color: #56c579;
}

 
.productos1, .productos2, .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}
.productos1 p, .productos2 p, .servicios p{
    margin: 5%;
}



.fondo{
    background-color: white;
}
.contact h1{
    font-weight: bold;
    color: #56c579;
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
}
.box-contact{
    margin: 5% 35% 0% 38%;
    border-style: solid;
    font-weight: bold;
    text-decoration: none;
    color: black(58, 209, 58);
    font-size: 30px;
    padding: 5% 2% ;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    text-align: center;
}
#whiteback{
    background-color: white;   
     padding-bottom: 5%;
}
.encontranos{
    margin:0 15%;
    line-height: 375%;   
    font-size: 30px;
    
}
.encontranos h3{
    margin: 3%;
    font-weight: bolder;
}
.form-label{
    color: black;
    font-weight: bolder;
    font-size: 26px;
}
form{
    border-style: solid;
    margin: 5% 20%;
    padding: 7%;
    border-radius: 20px;
}
.mapa-contacto iframe{
    width: 100%;
    height: 300px;
   
} 
.btn-primary{
    background-color: #56c579;
    border-color: #56c579;
}
.btn-primary:hover{
    background-color: #56c579;
    border-color: #56c579;
}

/* Media Queries */

/* TABLET */
@media only screen  and (max-width: 768px) {
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 15%;
    padding-top:5%;
    padding-bottom: 5%;
    color: #fff;
    text-align: center;
}
.carousel-caption h1 {
    font-size: 1.75rem;
}
.carousel-caption p {
    font-size: 1.25rem;     
    }
#servicio{
    font-size: 24px;
}
.contenedor-titulos{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.box-1{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.box-3{
    flex-direction: inherit;
    gap: 30px;
    flex-wrap: nowrap;
}
.historia, .lema{
    font-size: 24px;
}
.contact h1{
font-size: 28px;
}
.productos1, .productos2, .servicios {
    grid-template-columns: repeat(1, 1fr);

}
.nuestro h1 {
    font-size: 26px;
}
.nuestro h2{
    font-size: 24px;
    margin: 5% 20%;
} 
.contenedor-titulos h3{
    font-size: 24px;
}
ul, tr td, .box-3 a {
font-size: 22px;
}
 }
/* MOBILE */
@media only screen  and (max-width: 576px) {
    .carousel-caption{
        position: absolute;
        right: 15%;
        bottom: 5%;
        left: 15%;
        padding-top:5%;
        padding-bottom: 5%;
        color: #fff;
        text-align: center;
    }
    .carousel-caption h1 {
        font-size: 1.25rem;
    }
    .carousel-caption p {
        font-size: 0.75rem;     
        }
    
    .container-fluid img{
        width: 100%;
    }
    .contenedor-titulos h3{
        font-size: 20px;
    }
 ul, tr td, .box-3 a {
    font-size: 18px;
 }
 .nuestro h1 {
    font-size: 24px;
}
.nuestro h2{
    font-size: 20px;
    margin: 5% 20%;
} 
}